page-take-photo {
     
    
    $list-border-color: #ebebeb;
    
    
}

ion-item {
    background-color: turquoise;
}

$item-body-text-font-size: 4rem;

ion-card-content {
    // background-color: color($colors, danger);
}

$list-text-color: #ebebeb;
