<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 *ngIf="!userName">Welcome To My App</h1>
  <h1 *ngIf="userName">Hello {{ userName }}</h1>
  <ion-card >
    <img src="{{photoUrl}}" alt="">
  </ion-card>
 <button ion-button outline (click)="signInGoogle()" *ngIf="!userName" block >Login
   <ion-icon name="logo-googleplus" block padding></ion-icon>
 </button>
 <button ion-button *ngIf="userName" (click)="signOut()" block >SignOut</button>
 <button ion-button *ngIf="userName" (click)="gotoCamera()" >Get Started</button>
 <button ion-button *ngIf="userName" (click)="gotoDetails()">Details</button>
</ion-content>
